@model IEnumerable<ProstateBioBank.ServiceModels.Patient>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tnm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ptnm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Psa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GleasonScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAmicoScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSurgery)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tnm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ptnm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Psa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GleasonScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DAmicoScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSurgery)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

